*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /* to add background image to body */
/* body {
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 0.5s ease; /* Add a smooth transition effect 
} */

/* Default background image */
/* body {
    background-image: url('images/bg1.jpg');
} */

/* Additional background images for different times of the day */
/* body.morning {
    background-image: url('morning-image.jpg');
}

body.evening {
    background-image: url('morning-image.jpg');
}

body.afternoon {
    background-image: url('afternoon-image.jpg');
}

body.night {
    background-image: url('images/night.avif');
} */

body {
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
    background-color: #1e1e1e;
    color: #ffffff;
}

.dark-mode-toggle {
    position: fixed;
    top: 10px;
    right: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: #ffffff;
    color: #1e1e1e;
    border: none;
    border-radius: 50%;
    outline: none;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dark-mode-toggle i {
    font-size: 1.2rem;
}


.container{
    background: black;
    /* background-image: url('images/bg1.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 0.5s ease;
    color: #ffffff;
    padding: 2rem;
    width: 40%;
    margin: 4rem auto;
    border-radius: 30px;
    backdrop-filter: blur(20px);
    /* transition: 0.3s ease;

    &:hover {
        transform: scale(1.06);
    } */
}

.container.morning {
    background-image: url('images/morning2.avif');
}

.container.evening{
    background-image: url('images/eve2.avif');
}

.container.afternoon {
    background-image: url('images/after.webp');
}

.container.night {
    background-image: url('images/night.avif');
}


.weatherhead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

input{
    border: none;
    background: #1e1e1e;
    outline: none;
    color: #ffffff;
    padding: 0.8rem 2.4rem;
    border-radius: 17px;
    font-size: 0.85rem;

}

::placeholder{
    color: #ffffff;
    text-transform: capitalize;

}

.weathersearch{
    position: relative;
}

.weathersearch i{
    position: absolute;
    left: 10px;
    top: 13px;
    font-size: 1.1rem;
    color: #ffffff;
}

.weatherunits{
    font-size: 1.2rem;
}

.weatherunits span{
    cursor: pointer;
}

.weathercelcius{
    margin-right: 0.5rem;
}

.weatherbody{
    text-align: center;
    margin-top: 2rem;

    & .datetime{
        margin: 1rem;
        font-size: 1rem;
    }

    & .weatherforecast{
        background: #1e1e1e;
        display: inline-block;
        text-transform: capitalize;
        border-radius: 20px;
        font-size: 17px;
        padding: 0.5rem 1.5rem;
    }

    & .weathericon img{
        width: 90px;
        height: auto;
    }

    & .weathertemp{
        font-size:1.8rem;
    }

    & .weatherminmax{
        display: flex;
        justify-content: center;
        margin-top: 0.4rem;

        & p{
            font-size: 1rem;
            margin: 0.5rem;
        }
    }

}

.weatherinfo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    margin-top: 2rem;
}

.weathercard{
    display: flex;
    align-items: center;
    background: #1e1e1e;
    padding: 1rem;
    border-radius: 12px;

    & i{
        font-size: 1.5rem;
        margin-right: 1rem;
    }
    & p{
        font-size: 1rem;
    }
}


@media screen and (min-width: 1200px) {
    .container {
        width: 30%;
    }
}

/* Responsive adjustments for medium-sized devices */
@media screen and (max-width: 1199px) and (min-width: 768px) {
    .container {
        width: 50%;
    }
}

/* Responsive adjustments for small-sized devices */
@media screen and (max-width: 767px) and (min-width: 481px) {
    .container {
        width: 70%;
    }
}

/* Responsive adjustments for extra-small-sized devices */
@media screen and (max-width: 480px) {
    .container {
        width: 90%;
    }

    .weatherinfo{
        grid-template-columns: none;
    }
}